2025/~$КРМ.xlsx
2025/Дисциплина «Анализ временных рядов», рабочая программа.docx
2025/КРМ.xlsx
2025/Модуль «Анализ временных рядов», рабочая программа.docx
2025/ОМ РПД «Анализ временных рядов»,версия 1, год 2025.docx
